@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Leckerli+One);

.dash-link {
    float: left;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Leckerli One', cursive;
}