.details-container {
    margin:auto;
    display: inline-block;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}

.details-img {
    width: 400px;
    border-radius: 15px;
    padding: 10px;
}

.card {
    text-align: center;
    margin: auto;
    padding: 10px;
}