.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header-link {
    display: block;
    float: left;
    padding: 8px;
    text-decoration: none;
    font-family: 'Leckerli One', cursive;
    text-decoration: none;
    color: rgb(0, 153, 255);
    text-shadow: 2px 2px white;
    font-size: 18px;
}

p {
    font-style: normal;
    color: black;
}